@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.background{
  background-image: url('/earth.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}