@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$color-gray: rgba(255, 255, 255, 0.77);
#root{
  font-family: 'Roboto', sans-serif;
  color: $color-gray;
}
.background{
  background-image: url('/earth.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  width: 100vw;
}
