$color-gray: rgba(255, 255, 255, 0.77);
@mixin padding {
    padding: 10vh 0 10vw 5vw;
}

#background{
    background-image: url('/earth.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.fixed-title{
    @include padding();
    display: inline-block;
    color: $color-gray;
    font-family: 'Roboto', sans-serif;
}

main{
    @include padding();
    height: 150px;
    overflow: hidden;
    padding-top: 0;
}

.facts{
    color: $color-gray;
    padding: 70px;
}

@keyframes roll{
    0%{

    }
}