$color-gray: rgba(255, 255, 255, 0.77);
$color-red: rgba(196, 44, 44, 0.77);

@mixin padding {
    padding: 0 0 10vh 5vw;
}

.welcome{
    height: 100vh;
}
.fixed-title, .fixed-subtitle{
    padding: 5vh 0 10vh 5vw;
    display: inline-block;
}
.fixed-subtitle{
    padding-left: 30px;
}

main{
    @include padding();
    height: 40px;
    margin-bottom:20px;
    overflow: hidden;
}

.facts{
    color: $color-gray;
    padding: 50px 70px 40px 40px;
}
.roll{
    animation: roll 20s ease-in-out infinite;
}
.red{
    color:$color-red;
}

.footer{
    position: fixed;
    bottom: 5vh;
    width: 100%;
    text-align: center;
    color:$color-gray;
    .page-text{
        display: none;
    }
    .fas{
        transform: scale(3.0,1) translateY(10%); 
        animation: stretching 1s ease-in-out infinite;
        color:$color-gray;
    }
}
.footer:hover{
    .fas{
        animation: stretching 1s ease-in-out infinite;
    }
    .page-text{
        animation: hovering 1s ease-in-out infinite;
        display: block;
    }
}
.cards{
    padding:0 25px;
}
.intro-card{
    padding: 25px;
    display: inline-block;
}
.card-content{
    background:$color-gray;
    opacity: 0.5;
}


@keyframes roll{
    0%{
        transform:translateY(100%);
        opacity:0;
    }
    14%{
        transform:translateY(0);
        opacity:1;
    }
    21%{ opacity:0; }
    22%{ opacity:0; }
    30%{
        transform:translateY(-110%);
        opacity:1;
    }
    37%{ opacity:0; }
    38%{ opacity:0; }
    45%{
        transform:translateY(-220%);
        opacity:1;
    }
    52%{ opacity:0; }
    53%{ opacity:0; }
    60%{
        transform:translateY(-330%);
        opacity:1;
    }
    67%{ opacity:0; }
    68%{ opacity:0; }
    75%{
        transform:translateY(-440%);
        opacity:1;
    }
    100%{
        transform:translateY(-550%);
        opacity:0;
    }
}

@keyframes hovering{
    0%{
        transform: translateY(10%); 
    }
    50%{
        transform: translateY(0%); 
    }
    100%{
        transform: translateY(10%); 
    }
}

@keyframes stretching{
    0%{
        transform: scale(3.0,1) translateY(10%); 
    }
    50%{
        transform: scale(3.5,1) translateY(0%); 
    }
    100%{
        transform: scale(3.0,1) translateY(10%); 
    }
}

.fly-away{
    animation: fly 2s ease-in;
    // transform: scale(3.0,1) translateY(-200%); 
}
.fly-away-fast{
    animation: fly 1s ease-in;
    // transform: scale(3.0,1) translateY(-200%); 
}
@keyframes fly{
    0%{
        transform:translateY(0);
    }
    100%{
        transform: translateY(-100vh); 
    }
}