$color-gray: rgba(0, 0, 0, 0.23);

.autocomplete-dropdown-container{
    position: absolute;
    z-index: 10;
    padding: 5px;
    border: $color-gray 1px solid;
    border-radius: 4px;
    background-color: white;
}
span{
    text-align: center;
    align-items: center;
}